body, html {
  background-color: #EEE3CB;
  margin: 0;
  padding: 0;
}

/* Estilo para la sección de GIF de fondo */
.gif-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('image/asescoophero.jpg');
  background-size: cover;
  background-repeat: repeat; /* Repetir el GIF */
  opacity: 0.7; /* Ajustar la opacidad según prefieras */
}

.flex-container {
  display: flex; /* Mostrar los elementos uno al lado del otro */
  justify-content: space-between; /* Separar los elementos con espacio entre ellos */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #238aa4;
  background-color:#f9f3e7;
  width: 90%; /* Limitar el ancho del contenedor principal */
  opacity: 90%;
  box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 40px 40px 40px 40px;
  font-size: 2.5rem;
}

p {
  margin: 40px 40px 40px 40px;
  font-size: 1.2rem;
  
}

/******** EFECTOS BOTON ***********/
p a{
  
  border: 2px solid #238aa4; /* Borde blanco de 2px */
  color: #238aa4; /* Letras en blanco */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px;  /* Redondear las esquinas */
  text-decoration: none;
}


p a:hover{
  background-color: #238aa4;
  color: #f9f3e7;
  transition: all 0.7s ease-in-out;
  padding: 10px 20px 10px 20px;
    
  font-size: 20px;
  transition: all 0.2s ease-in-out;

}

.negrita{
  color:#238aa4;
  font-weight: bold ;
}


/*******************



/* Estilo para el Gif responsivo */
.video-container {
  max-width: 50%; /* Ancho máximo del video, puedes ajustarlo según tus necesidades */
  margin: 40px 60px 40px 40px;
}

.video-hero {
  width: 100%;
  height: auto;
  filter: grayscale(0);
  opacity: 80%;
}
.video-hero:hover {
  width: 100%;
  height: auto;
  filter: grayscale(0);
  opacity: 90%;
  transition: all 0.5s ease-in-out;
}







  /***************** SECCION Y NAV ***********************************/
  /*******************************************************************/
  /*******************************************************************/
  /*******************************************************************/
  /*******************************************************************/
   /******* LOGO NAV          ********/


.logo-asescoop{
  opacity: 60%;
}

.logo-asescoop:hover{
  opacity: 100%;
}
  /************** NAV ****************/
div.container-fluid{
  
  background-color: #EEE3CB;
  margin: 0;
 
  
}

.navbar.navbar-expand-lg.bg-body-tertiary{
  padding-top: 0;
  padding-bottom: 0;
  
}

.nav-link{
  filter: brightness(100%);
  color: #238aa47e;
  margin-right:100px;
}

.nav-link:hover{
  color: #238aa4;
}

.navbar-nav{
 margin-left: auto;
}

.dropdown-menu{
  background-color: #f9f3e7;
}

.dropdown-item{
  color: #238aa4;
  
}

.dropdown-item:hover{
  background-color: #84a5ad2a;
  color: #238aa4;
}







/************** hamburguesa nav ******************************/
/***********************************************************/
/*******************************************************/

.navbar-toggler{
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5 ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon{
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span{
  margin: 0;
  padding: 0;
}
.toggler-icon{
  display: block;
  position: absolute;
  height: 2px;
  width: 90%;
  background: #238aa4;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.toggler-icon:hover{
  background: #238aa48e;
}
.middle-bar{
  margin-top: 0px;

}
.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);

}
/************** Cuando no esta clickeado *******************/
.navbar-toggler.collapsed .top-bar{
margin-top: -16px;
transform: rotate(0deg);

}
.navbar-toggler.collapsed .middle-bar{
opacity: 1;
filter: alpha(opacity=100);

}
.navbar-toggler.collapsed .bottom-bar{
margin-top: 16px;
transform: rotate(0deg);
}  
/***********************************************************************/




              /** SECCION SOBRE NOSOTROS **/ 









  /***********************************************************/
  /***************      SECCION    **************************/
  /**********************************************************/




/* Estilos generales de la sección */
#sobre-nosotros {
  opacity: 90%;
  background-color: #EEE3CB;
  
  
  
  height: 100vh; /* Altura del 100% del viewport */
  color: #654f44;
  padding: 34px;
  
  position: relative;
  overflow: hidden;
}

.video-fondo {
  opacity: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Esto asegura que el video esté detrás del contenido */
}






/* Aplicar Flexbox para colocar la imagen y el texto en línea */
.content-sobre-nosotros-titulo-seccion{
  margin-top: 15%;
  font-size: 2rem;
}

.content-sobre-nosotros-subtitulo-seccion{
  color: #238aa47e;
  font-size: 1.5rem;
}
.content-sobre-nosotros {
  opacity: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.5);
  background-color: #EEE3CB;
}

/* Estilo de la imagen */
.image {
  flex: 1;
  padding: 40px;
}

/* Estilo del texto */
.content-sobre-nosotros-text {

  flex: 2;
  margin: 0%;
  
}

/* Ajustar la imagen para que sea responsiva */
img {
  max-width: 100%;
  height: auto;
}

/* Estilo del título */

h1 {
  
    
    color: #238aa47e;
}

.content-sobre-nosotros-titulo-seccion{
  
  text-align: center;
 
  color: #bb8d69;
  ;
}




/* Estilo de los elementos de la lista */
.content-sobre-nosotros-ul{
  margin: 1%;
  margin-bottom: 20%;
}
li {
 list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



/***********************************/
/***** SERVICIOS *******************/

.servicios {
  padding: 2%;
  box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5); ;
  background-color: #B7C4CF;
  padding: 20px;
  text-align: center;
  
}

.servicios h1 {

  font-size: 30px;
  margin-bottom: 10px;
  color: #bb8d69;
}

.servicios p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #654f44;
}

.servicios .imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding: 2%;
}



.servicios .imagen {
  background-color:#EEE3CB;
  position: relative;
  width: 250px;
  height: 250px;
  padding: 8px;
  margin: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
} .servicios .imagen:hover{
  padding: 3px;
  width: 253px;
  height: 253px;
  transition: all 0.4s ease-in-out;
}


.servicios .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.servicios .contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #eee3cbbc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.servicios .contenido h2 {
  font-size: 18px;
  margin: 5px 0;
  color: #238aa4;
}

.servicios .contenido p {
  font-size: 14px;
  margin: 5px 0;
}




/************ FORMULARIO **************/

.body_formulario{
  background-color: #EEE3CB;
  
  background-image: radial-gradient(#238aa4 0.5px, #EEE3CB 0.5px);
  background-size: 10px 10px;
  display: flex;
  min-height: 100vh;
}


.form{
background-color: #B7C4CF;

margin: auto;
width: 90%;
max-width: 400px;
padding: 4.5em 3em;
border-radius: 10px;
box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.5);
text-align: center;

}
.form_title{
  color: #EEE3CB;
  font-size: 2rem;
  margin-bottom: .5em;

}
.form_paragraph{
  font-weight: 300;
}

.form_link{
  font-weight: 400;
  color: #000;

}

.form_container{
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form_group{
  position: inherit;
  --color:#EEE3CB;;
}

.form_input{
  width: 100%;
  background: none;
  color: #EEE3CB;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form_input:focus + .form_label, .form_input:not(:placeholder-shown) + .form_label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: #eedcb5;
}

.form_label{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  
  left: 40%;
  transform: translateY(10px);
  transition: transform .5s, color .3s ;
}

.form_submit{
  margin-left: 50%;
  justify-items: end;
  width: 50%;
  border: none;
  box-shadow: 1px 2px 4px #0000005a;
  
  background: #EEE3CB;;
  color: #B7C4CF;;;
  font-weight: 300;
  font-size:1rem ;
  padding: .8em 0;
  border-radius: .5em;
  font-weight: bold;
}
.form_submit:hover{
  margin-left: 51%;
  transition: all 0.2s ease-in-out;
}



.form_input:focus ~ .form_line, .form_imput:not(:placeholder-shown) ~ .form_line{
  transform: scale(1);
} 

































































/*

/*************** MEDIA QUERIES ***************************/
/*******************************************************/
/*******************************************************/



@media (max-width: 480px) {
  /* Agrega aquí los estilos específicos para dispositivos móviles o con ancho de pantalla de hasta 480px */
  
  body, html {
    font-size: 14px; /* Ajustar el tamaño del texto para dispositivos móviles */
  }

  .flex-container {
    flex-direction: column;
    align-items: center; /* Centrar los elementos en dispositivos móviles */
    
  }

  .video-container {
    margin: 20px 0; /* Ajustar el margen para dispositivos móviles */
    max-width: 100%; /* El video ocupará todo el ancho en dispositivos móviles */
  }

  .flex-container {
    display: flex; /* Mostrar los elementos uno al lado del otro */
    justify-content: space-between; /* Separar los elementos con espacio entre ellos */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #238aa4;
    background-color:#f9f3e7;
    width: 90%; /* Limitar el ancho del contenedor principal */
    opacity: 90%;
    box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.5);
  }
  p {
    font-size: 0.9rem;
  }
  h1{
    font-size: 2rem;
  }
  p a{
    
    
    border: 1px solid #238aa4; /* Borde blanco de 2px */
    color: #238aa4; /* Letras en blanco */
    padding: 5px 10px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px; /* Redondear las esquinas */
    text-decoration: none;
  }
  p a:hover{
    
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    
  }
  
  p a:hover{
    background-color: #238aa4;
    color: #f9f3e7;
    transition: all 0.7s ease-in-out;
    padding: 7px 12px 7px 12px;
  }

  .video-container {
    margin: 10px 20px; /* Ajustar el margen para dispositivos móviles */
    max-width: 100%; /* El video ocupará todo el ancho en dispositivos móviles */
  }




  .content-sobre-nosotros-text {
    text-align: center;
    color: aqua;
    padding: 10%;
    flex: 2;
    margin: 10%;
    
    
  }
  
  .content-sobre-nosotros-text ul li{
    font-size: small;
    padding: 10%;
  }




}

  /* Personaliza otros estilos para dispositivos móviles */

